/venv/
venv
/venv
**/venv

**/__pycache__/**
**/__pycache__
*/__pycache__
/__pycache__/*
__pycache__

*.pyc

.vscode
/.vscode
/.vscode/
**/.vscode/
**/.vscode/**
**/.vscode/*
*/.vscode/

*:Zone.Identifier